.page {
  background-color: "#C4C4C4";
  padding: 0;
  margin: 0;
  border: 0;
}
.text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.textMedium {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.tinyText {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
a {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  text-decoration: none;
}
.whiteBold {
  color: white;
  font-weight: 500;
}

.cardcontainer: {
  display: "flex";
  aligncontent: "center";
  alignitems: "center";
  justifycontent: "space-between";
  padding: "10px";
  height: "50px";
}

.kmsdiv {
  width: 50px;
  padding-left: 4px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.usernamediv {
  height: 100%;
  width: 100%;
  display: "flex";
  align-items: center;
  justify-content: flex-end;
  background-color: grey;
}
